@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --light-red: #E76161;
  --light-white: #ffffff;
  --dark-gray: #333333;
  --peach-red: #F99B7D;
  --light-gray: #8BACAA;
  --light-grey: #f2f2f2;
  --line: #c5c5c5;
  --dark-red: #B04759;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.left-container span {
  font-weight: 500;
  font-size: 25px;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.main .banner {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  /*END OF NAV-MAIN*/
}
.main .banner .nav-main {
  padding: 0 13%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line);
}
.main .banner .nav-main .left-navbar {
  flex: 1;
}
.main .banner .nav-main .left-navbar span {
  font-family: "Konkhmer Sleokchher", cursive;
  font-size: 25px;
  font-weight: 600;
  color: var(--dark-red);
  cursor: pointer;
}
.main .banner .nav-main .left-navbar span .text-dark {
  color: var(--dark-gray);
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.main .banner .nav-main .right-navbar {
  display: flex;
  align-items: center;
}
.main .banner .nav-main .right-navbar a {
  font-size: 19px;
  margin: 0 16px;
  color: var(--dark-gray);
  display: flex;
  font-weight: 400;
  flex-direction: column;
  align-items: center;
}
.main .banner .nav-main .right-navbar .nav-btn {
  color: var(--light-white);
  background-color: var(--light-red);
  padding: 9px 16px;
  font-weight: 400;
  border-radius: 5px;
  transition: transform 200ms ease-in;
}
.main .banner .nav-main .right-navbar .nav-btn:hover {
  background-color: var(--dark-red);
}
.main .banner .nav-main .right-navbar .a-link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--light-red);
  height: 3px;
  transform: scale(0, 1);
  transition: transform 200ms ease-in;
  transform-origin: center;
}
.main .banner .nav-main .right-navbar .a-link:hover::after {
  transform: scale(1, 1);
}

/*END OF NAV-MAIN*/
.main .banner .nav-content {
  margin: 0 13%;
  padding-top: 25px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.main .banner .nav-content .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 70px;
}
.main .banner .nav-content .left-container h1 {
  font-size: 57px;
  font-family: "Konkhmer Sleokchher", cursive;
  line-height: 70px;
  margin-bottom: 30px;
}
.main .banner .nav-content .left-container p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}
.main .banner .nav-content .left-container .banner-btn {
  color: var(--light-white);
  background-color: var(--light-red);
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 20px;
  transition: transform 200ms ease-in;
}
.main .banner .nav-content .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .banner .nav-content .right-container .image-banner {
  border-radius: 20px;
  width: 70%;
}

/*END OF NAV-BANNER*/
.main .second-section {
  height: 100vh;
  display: grid;
  grid-template-rows: 230px 1fr;
}
.main .second-section .second-banner {
  background-image: url("/assets/images/home/journey.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}
.main .second-section .second-banner h2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  justify-content: center;
  align-items: center;
  color: var(--light-white);
  text-shadow: 2px 2px 5px #333;
}
.main .second-section .second-banner-content {
  padding: 2% 10%;
  display: grid;
  grid-template-rows: 1fr;
}
.main .second-section .second-banner-content .col-3 {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 20px 35px;
  margin: 0 15px;
  margin-bottom: 10px;
}
.main .second-section .second-banner-content .col-3 .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .second-section .second-banner-content .col-3 .col-img img {
  width: 100%;
}
.main .second-section .second-banner-content .col-3 .col-desc {
  padding: 0 25px;
  display: flex;
  align-items: center;
}
.main .second-section .second-banner-content .col-3 .col-desc h3 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Konkhmer Sleokchher", cursive;
  text-decoration: underline;
  color: var(--light-red);
}
.main .second-section .second-banner-content .col-3 .col-desc span {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.main .second-section .second-banner-content .col-3 .col-desc .btn-get {
  color: var(--light-white);
  background-color: var(--light-red);
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 20px;
  transition: transform 200ms ease-in;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.main .third-section {
  height: 100vh;
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .third-section .column {
  display: grid;
  padding: 50px 35px;
  margin: 0 15px;
  margin-bottom: 10px;
  grid-template-rows: 200px 1fr;
  border-radius: 25px;
  background: var(--light-grey);
}
.main .third-section .column .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .third-section .column .col-img img {
  width: 50%;
}
.main .third-section .column .col-content {
  display: flex;
  align-items: center;
}
.main .third-section .column .col-content h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  font-family: "Konkhmer Sleokchher", cursive;
  text-decoration: underline;
  color: var(--light-red);
}
.main .third-section .column .col-content span {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.main .third-section .column .col-content .btn-get {
  color: var(--light-white);
  background-color: var(--light-red);
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 20px;
  transition: transform 200ms ease-in;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */